/*
  Copyright 2016 Roland Corporation. All rights reserved.

  <div id="a" class="item-push-button-style-standard">
      <p>text</p>
  </div>
*/

.item-push-button-style-standard {
  position: absolute;
  clear: both;
  display: table;
  margin: 0;
  padding: 0;

  text-align: center;
  cursor: pointer;

  color: #fff;
/*  background-color: #eee; */
  background-color: #5B8495;
  border: 2px solid #888;
  /*border-radius: 8px;*/
  border-radius: 4px;
}
.item-push-button-style-standard p {
  display: table-cell;
  vertical-align: middle;
  padding: 4px;

  background-repeat: no-repeat;
  background-position: center center;
}
.item-push-button-style-standard:hover {
  background-color: #88e;
}
.item-push-button-style-standard:active {
  background-color: #e88;
}

